---
import {getCollection} from "astro:content";
import {MAIN_HOST} from "../constants/routes";

const posts = await getCollection("news");

posts.sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const post = posts[0]
---

<div class="event-container">
    <div class="event-images">
        <img src=`${MAIN_HOST}/assets/free-images.jpg` class="event-image"></img>
        <img src=`${MAIN_HOST}/assets/free-images.jpg` class="event-image"></img>
        <img src=`${MAIN_HOST}/assets/free-images.jpg` class="event-image"></img>
        <img src=`${MAIN_HOST}/assets/free-images.jpg` class="event-image"></img>
    </div>

    <div class="info">
        <h1 class="t-h1">{post.data.title}</h1>
        <p class="t-p">{post.data.description}</p>
        <a href=`${MAIN_HOST}/news/${post.slug}` class="button-read bt-cp">Прочитати повністю</a>
    </div>
</div>

<a href=`${MAIN_HOST}/news/${post.slug}` class="button-read bt-mobile">Прочитати повністю</a>

<style>

    .event-container {
        display: flex;
        gap: 20px;
    }

    .event-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        flex: 1;

        .event-image {
            width: 100%;
        }
    }

    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        .t-h1 {
            margin: 0;
            font-weight: 400;
        }

        .t-p {
            font-size: 22px;
        }
    }

    .bt-cp{
        display: block;
    }
    .bt-mobile{
        display: none;
    }

    .button-read {
        background-color: #66a5ad;
        color: #dae6ea;
        width: max-content;
        margin: 0 auto;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 991px) {
        .info {
            .t-p {
                font-size: 20px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .event-container {
            flex-direction: column-reverse;
        }

        .info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 1;

            .t-h1 {
                margin: 0;
                font-weight: 400;
            }

            .t-p {
                font-size: 18px;
            }
        }

        .bt-cp{
            display: none;
        }

        .bt-mobile{
            display: block;
            margin-top: 10px;
        }
    }
</style>