---
import {MAIN_HOST} from "../constants/routes";
const links = [
    {link: "news", title: "Новини"},
    {link: "educational", title: "Навчальні матеріали"},
    {link: "about", title: "Про нас"}
]
---

<nav>
    <a href=`${MAIN_HOST}/`>
        <img src=`${MAIN_HOST}/assets/1701711975552657357_1.png`
             style="height: 50px"/>
    </a>

    <ul>
        {links.map(link =>
                <li class="link">
                    <a href=`${MAIN_HOST}/${link.link}`>{link.title}</a>
                </li>)}
    </ul>
</nav>

<style>
    nav {
        background: white;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        //max-width: 1300px;
        padding: 10px;
        margin: 0 auto;
        width: calc(100% - 20px);
    }

    .link {
        list-style: none;

        a {
            text-decoration: none;
            color: inherit;
            margin: 1em;
            text-align: center;
        }
    }

    ul {
        display: flex;
    }
</style>